<main class="container">
    <div class="box" ng-show="questionBox" id="question-box">
        <div class="horizontal-box">
            <button class="btn" ng-repeat="questions in questions" ng-click="changeQuestion($index)">{{$index+1}}</button>
        </div>
        <div class="horizontal-box">
            <p>Question {{currentQuestionId+1}} of {{questions.length}}</p>
        </div>
        <div class="horizontal-box">
            <p>{{questions[currentQuestionId].description}}</p>
        </div>
        <div>
            <div class="horizontal-box baseline"  ng-repeat="option in questions[currentQuestionId].options track by $index">
                <label><input  type="checkbox"
                               id="checkbox{{$index}}" class="input-checkbox"
                               ng-model="currentAnswers[$index]">
                     {{option.description}}
                </label>
            </div>
        </div>


        <div class="horizontal-box">
            <button type="button" ng-show="allowPrevious()"
                    ng-click="goBack()">
                Previous
            </button>
            <button type="submit"   ng-show="allowNext()"
                    ng-click="goForward()">
                Next
            </button>
            <button type="button" ng-show="allowResult()"
                    ng-click="showResults()">
                Show Results
            </button>
        </div>
    </div>

    <div class="quiz-box vertical-box" ng-show="resultBox">
        <p>{{insertPoints()}}!</p>
    </div>
</main>
